

<h1> Attachment Showing </h1>
<% if @attachment.amount < 1 %>
  <p><strong> Out of Stock now </strong></p>
<% end %>


<p>
  <% if @attachment.image? %>
    <%= image_tag(@attachment.image.thumb.url, alt: 'Image') %>   
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @attachment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attachment.description %>
</p>

<p>
  <strong>type:</strong>
  <%= @attachment.image_type %>
</p>

<p>
  <strong>place:</strong>
  <%= @attachment.place %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @attachment.created_by %>
</p>

<p>
  <strong>price:</strong>
  <%= @attachment.price %>
</p>

<% if @attachment.amount > 0 %>

  <p> <%= link_to 'buy', new_order_path(attachment: @attachment.id) %></p>
<% end %>
<p> <%= link_to 'back', url_for(:back) %></p>

<% if user_signed_in? && current_user == @attachment.user_id %>
<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<% end %>

