<hr>
<div id="error-section">
  <span class="js-error alert alert-danger hidden"></span>
  <span class="js-warning alert alert-warning hidden"></span>
  <span class="js-success alert alert-success hidden"></span>
</div>

<div class="container">
	<h1 class="text-center"> Order form </h1>
	<hr>
	<div class="row">
			<div class="col-md-9">
				<%= form_for :orders, url: '/orders', remote: true do |f| %>
					<div class="form-group">
						<%= f.label "Name"%>
						<%= f.text_field :name, class: "form-control" %>
					</div>
					<div class="form-group">
						<%= f.label :amount, "Enter Quantity"%>
						<%= f.text_field :amount, class: "form-control" %>
					</div>
					<div class="form-group">
						<%= f.submit "create order", class: "btn btn-primary" %>
					</div>
					<div>
						<%= hidden_field_tag "attachment_amount", @attachment.amount %>
						<%= hidden_field_tag "attachment_id", @attachment.id %>
					</div>
				<% end %>
			</div>
	</div>
</div>
